LeisnerWebApplication/Service References/LeisnerRef/BWSService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:4264/BWSService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BWS_ASP" />
  <xs:element name="ShowGraph">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BWS_ASP" minOccurs="0" name="Days" nillable="true" type="q1:ArrayOfDay" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ShowGraphResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Dowork">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DoworkResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterAccident">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deviceNR" type="xs:int" />
        <xs:element minOccurs="0" name="amount" type="xs:int" />
        <xs:element minOccurs="0" name="timeOfAccident" type="xs:dateTime" />
        <xs:element minOccurs="0" name="Drinks" type="xs:int" />
        <xs:element minOccurs="0" name="TimeSleep" type="xs:dateTime" />
        <xs:element minOccurs="0" name="TimeToilet" type="xs:dateTime" />
        <xs:element minOccurs="0" name="ToiletVisit" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterAccidentResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSatisticBasedOnUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
        <xs:element minOccurs="0" name="startdate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="enddate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSatisticBasedOnUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/BWS_ASP" minOccurs="0" name="GetSatisticBasedOnUserResult" nillable="true" type="q2:ArrayOfAccidentDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="logIn">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="logInResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="logInResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterDevice">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterDeviceResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAccident">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AccidentID" type="xs:int" />
        <xs:element minOccurs="0" name="Amount" type="xs:int" />
        <xs:element minOccurs="0" name="date" type="xs:dateTime" />
        <xs:element minOccurs="0" name="DeviceID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAccidentResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAccidents">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AccidentID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAccidentsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SignUp">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="birthday" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="PassWord" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="deviceID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SignUpResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadAccidents">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadAccidentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/BWS_ASP" minOccurs="0" name="ReadAccidentsResult" nillable="true" type="q3:ArrayOfAccidentDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getIDFromUsername">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getIDFromUsernameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getIDFromUsernameResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDayAccidents">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="selectStart" type="xs:dateTime" />
        <xs:element minOccurs="0" name="selectEnd" type="xs:dateTime" />
        <xs:element minOccurs="0" name="DeviceNr" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDayAccidentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/BWS_ASP" minOccurs="0" name="GetDayAccidentsResult" nillable="true" type="q4:ArrayOfDay" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListByDay">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
        <xs:element minOccurs="0" name="DeviceNr" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListByDayResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/BWS_ASP" minOccurs="0" name="GetListByDayResult" nillable="true" type="q5:ArrayOfAccident" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AverageAmount">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/BWS_ASP" minOccurs="0" name="accidentlist" nillable="true" type="q6:ArrayOfAccident" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AverageAmountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AverageAmountResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMessageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/BWS_ASP" minOccurs="0" name="GetMessageResult" nillable="true" type="q7:ArrayOfMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>