LeisnerWebApplication/Service References/LeisnerRef/BWSService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BWS_ASP" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BWS_ASP" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfDay">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Day" nillable="true" type="tns:Day" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDay" nillable="true" type="tns:ArrayOfDay" />
  <xs:complexType name="Day">
    <xs:sequence>
      <xs:element name="_x003C_AccidentsNumber_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_Average_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_Date_x003E_k__BackingField" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Day" nillable="true" type="tns:Day" />
  <xs:complexType name="ArrayOfAccidentDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AccidentDTO" nillable="true" type="tns:AccidentDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAccidentDTO" nillable="true" type="tns:ArrayOfAccidentDTO" />
  <xs:complexType name="AccidentDTO">
    <xs:sequence>
      <xs:element name="_x003C_AccidentID_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_Amount_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_Date_x003E_k__BackingField" type="xs:dateTime" />
      <xs:element name="_x003C_DeviceID_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_ST_x003E_k__BackingField" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AccidentDTO" nillable="true" type="tns:AccidentDTO" />
  <xs:complexType name="ArrayOfAccident">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Accident" nillable="true" type="tns:Accident" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAccident" nillable="true" type="tns:ArrayOfAccident" />
  <xs:complexType name="Accident">
    <xs:sequence>
      <xs:element name="_x003C_AccidentID_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_Amount_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_Drinks_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_ST_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_StartDate_x003E_k__BackingField" type="xs:dateTime" />
      <xs:element name="_x003C_TimeOfAccident_x003E_k__BackingField" type="xs:dateTime" />
      <xs:element name="_x003C_TimeSleep_x003E_k__BackingField" type="xs:dateTime" />
      <xs:element name="_x003C_TimeToilet_x003E_k__BackingField" type="xs:dateTime" />
      <xs:element name="_x003C_ToiletVisit_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_Version_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_dev_x003E_k__BackingField" nillable="true" type="tns:Device" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Accident" nillable="true" type="tns:Accident" />
  <xs:complexType name="Device">
    <xs:sequence>
      <xs:element name="_x003C_DeviceNumber_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_Owner_x003E_k__BackingField" nillable="true" type="tns:Costumer" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Device" nillable="true" type="tns:Device" />
  <xs:complexType name="Costumer">
    <xs:sequence>
      <xs:element name="_x003C_ID_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_Name_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Type_x003E_k__BackingField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Costumer" nillable="true" type="tns:Costumer" />
  <xs:complexType name="ArrayOfMessage">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Message" nillable="true" type="tns:Message" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMessage" nillable="true" type="tns:ArrayOfMessage" />
  <xs:complexType name="Message">
    <xs:sequence>
      <xs:element minOccurs="0" name="MessageText" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SendDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="User" nillable="true" type="tns:Costumer" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Message" nillable="true" type="tns:Message" />
</xs:schema>